<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{{"/favicon.ico" | relative_url }}" type="image/x-icon" />
    <link rel="dns-prefetch" href="https://{{ site.disqus.shortname }}.disqus.com">
    <meta
    itemprop="description"
    name="description"
    content="
        {% if page.description %}
            {{ page.description | truncate: 160 }}
        {% else %}
            {{ site.description | truncate: 160  }}
        {% endif %}"
    />
    <title>
      {%if page.title %}
          {{ page.title }}
      {% else %}
          {{ site.title }}
      {% endif %}
    </title>
    <!-- async load css file -->
    <link rel="stylesheet" href="{{"/assets/css/styles.css" | relative_url}}" media="none" onload="if(media!='all')media='all'">
    <!-- Load css when script is disabled -->
    <noscript><link rel="stylesheet" href="{{"/assets/css/styles.css" | relative_url}}"></noscript>

    <!-- Dns Prefetch the google analytics -->
    <link rel="dns-prefetch" href="www.googletagmanager.com">
    <link rel="dns-prefetch" href="www.google-analytics.com">



    <!-- Load the script async and wait for the page to render for script to execute -->
    <script defer src="{{"/assets/js/theme.js" | relative_url }}"></script>
    <script defer src="{{"/assets/js/script.js" | relative_url }}"></script>

    {% include analytics.html %}
    {% feed_meta %}
    {% seo %}

  </head>
    <body onload="onLoad()">
      {% include themeSelector.html %}
      {{ content }}
    </body>
</html>hei
